In [1]:
import json

In [2]:
fd=open('Record.json','r')
r=fd.read()
fd.close()

record=json.loads(r)

In [3]:
record

{'1001': {'name': 'Kitkat',
  'price': 15,
  'qty': 100,
  'discount': 10,
  'validity': 3},
 '1002': {'name': 'Oreo',
  'price': 25,
  'qty': 75,
  'discount': 5,
  'validity': 6},
 '1003': {'name': 'Cake',
  'price': 300,
  'qty': 30,
  'discount': 15,
  'validity': 1},
 '1004': {'name': 'Coke',
  'price': 15,
  'qty': 150,
  'discount': 0,
  'validity': 1},
 '1005': {'name': 'Earphone',
  'price': 700,
  'qty': 400,
  'discount': 25,
  'validity': 12},
 '1006': {'name': 'Airpods',
  'price': 2000,
  'qty': 50,
  'discount': 17,
  'validity': 24},
 '1007': {'name': 'Soap',
  'price': 25,
  'qty': 250,
  'discount': 20,
  'validity': 2},
 '1008': {'name': 'Pot',
  'price': 650,
  'qty': 90,
  'discount': 10,
  'validity': 25},
 '1009': {'name': 'Cookies',
  'price': 50,
  'qty': 30,
  'discount': 0,
  'validity': 4},
 '1010': {'name': 'Wheat',
  'price': 40,
  'qty': 260,
  'discount': 5,
  'validity': 2},
 '1011': {'name': 'Apple',
  'price': 50,
  'qty': 120,
  'discount': 10,
  'validity': 1},
 '1012': {'name': 'Mango',
  'price': 350,
  'qty': 50,
  'discount': 10,
  'validity': 1},
 '1013': {'name': 'Berries',
  'price': 170,
  'qty': 70,
  'discount': 3,
  'validity': 1},
 '1014': {'name': 'Chings',
  'price': 20,
  'qty': 75,
  'discount': 0,
  'validity': 1},
 '1015': {'name': 'Rice',
  'price': 65,
  'qty': 54,
  'discount': 20,
  'validity': 1},
 '1016': {'name': 'Realme',
  'price': 8000,
  'qty': 50,
  'discount': 17,
  'validity': 24},
 '1017': {'name': 'MI',
  'price': 9500,
  'qty': 68,
  'discount': 20,
  'validity': 24},
 '1018': {'name': 'OnePlus',
  'price': 28000,
  'qty': 45,
  'discount': 25,
  'validity': 24},
 '1019': {'name': 'HP',
  'price': 65000,
  'qty': 25,
  'discount': 10,
  'validity': 36},
 '1020': {'name': 'Dell',
  'price': 75000,
  'qty': 40,
  'discount': 7,
  'validity': 36},
 '1021': {'name': 'Boat',
  'price': 2500,
  'qty': 68,
  'discount': 55,
  'validity': 18},
 '1022': {'name': 'Mivi',
  'price': 1990,
  'qty': 35,
  'discount': 0,
  'validity': 8},
 '1023': {'name': 'JBL',
  'price': 3500,
  'qty': 45,
  'discount': 10,
  'validity': 5},
 '1024': {'name': 'Sonic',
  'price': 1000,
  'qty': 60,
  'discount': 15,
  'validity': 2},
 '1025': {'name': 'Kookabura',
  'price': 1200,
  'qty': 15,
  'discount': 0,
  'validity': 24},
 '1026': {'name': 'Vector',
  'price': 890,
  'qty': 54,
  'discount': 10,
  'validity': 2},
 '1027': {'name': 'Gloves',
  'price': 120,
  'qty': 45,
  'discount': 0,
  'validity': 2},
 '1028': {'name': 'Lakme',
  'price': 2000,
  'qty': 60,
  'discount': 10,
  'validity': 2},
 '1029': {'name': 'Deo',
  'price': 900,
  'qty': 50,
  'discount': 25,
  'validity': 2},
 '1030': {'name': 'Maybelline',
  'price': 1500,
  'qty': 50,
  'discount': 20,
  'validity': 2}}

In [13]:
prod_id=input(("Enter the product id: "))
if prod_id in record:
    print("Product Name: ",record[prod_id]['name'])
    print("Price: ",record[prod_id]['price'])
    print("Discount: ",record[prod_id]['discount'])
    purchase=input("Enter y to purchase product: ")
    if(purchase=='y'or purchase=='Y'):
        ui_qty=int(input(("Enter the no. of quantity: ")))
    else:
        print("Product not purchased")
        ui_qty=0
    total=record[prod_id]['price']*ui_qty
    total_disc=total-(total*(record[prod_id]['discount'])/100)
    print("Billing amount = ",total_disc)
else:print("Product id not found")

Enter the product id: 1025
Product Name:  Kookabura
Price:  1200
Discount:  0
Enter y to purchase product: y
Enter the no. of quantity: 2
Billing amount =  2400.0

In [14]:
record[prod_id]['qty']-=ui_qty

In [15]:
new=json.dumps(record)

fd=open('Record.json','w')
fd.write(new)
fd.close()

# Sales

In [1]:
#fd= open('Sales.json','w')
#fd.close()

In [16]:
sales={'prod_id':prod_id,'qty':ui_qty,'total bill':total,'discounted bill':total_disc}

In [17]:
new_sales=json.dumps(sales)

In [18]:
fd=open('Sales.json','a')
fd.write(new_sales)
fd.close()

In [19]:
fd= open('Sales.json','r')
r=fd.read()
fd.close()

In [20]:
r

'{"prod_id": "1011", "qty": 12, "total bill": 600, "discounted bill": 540.0}{"prod_id": "1025", "qty": 2, "total bill": 2400, "discounted bill": 2400.0}'